spec.name="SSMP_SPEC_WEB_DEFAULTLANG" spec.type="string" spec.value="chinese"
spec.name="SSMP_SPEC_WEB_FRAME" spec.type="string" spec.value="frame_CTCOM"
spec.name="SSMP_SPEC_WEB_LANGUAGE_SET" spec.type="string" spec.value="chinese"
spec.name="SSMP_SPEC_WEB_LANGUAGE" spec.type="string" spec.value="chinese"
spec.name="SSMP_SPEC_WEB_MENUXML" spec.type="string" spec.value="MenuE8c.xml"
spec.name="SSMP_SPEC_WEB_MENUPATH" spec.type="string" spec.value="menu.js"
spec.name="SSMP_SPEC_WEB_SHOWCPUMEM" spec.type="uint" spec.value="1"
spec.name="SSMP_SPEC_DM_TIMEFORREBOOTSYS" spec.type="uint" spec.value="1"
spec.name="SSMP_SPEC_DM_TIMEFORRESETCFG" spec.type="uint" spec.value="10"
spec.name="SSMP_SPEC_DM_TIMEFORLEDSWTICH" spec.type="uint" spec.value="3"
spec.name="SSMP_SPEC_DM_TIMEFORLOCALCFG" spec.type="uint" spec.value="2"
spec.name="SSMP_SPEC_QUICK_ENABLE" spec.type="uint" spec.value="0"
spec.name="SSMP_SPEC_QUICK_DIR" spec.type="string" spec.value="e8_Config_Backup"
spec.name="SSMP_SPEC_QUICK_FILENAME" spec.type="string" spec.value="ctce8"
spec.name="SSMP_SPEC_APM_BATTERYCHANGETIME" spec.type="uint" spec.value="5"
spec.name="SSMP_SPEC_APM_BOOTDELAY" spec.type="uint" spec.value="60"
spec.name="SSMP_SPEC_CUSTOM_DESCRIPTION" spec.type="string" spec.value="e8c"
spec.name = "SSMP_SPEC_CLI_USERGRP" spec.type="uint" spec.value="0x00004000"
spec.name="SSMP_SPEC_CLI_REMOTETELNET" spec.type="uint" spec.value="1"
spec.name="SSMP_SPEC_CLI_REDLINEVERSION" spec.type="uint" spec.value="1"
spec.name="SSMP_SPEC_WEB_NO_AUTH_PAGE" spec.type="string" spec.value="jquery.min.js;mm.cgi;md5.js;itms;jsloid.asp;errloid.html;loidret.asp;RndSecurityFormat.js;ssmpdes.html;loidreg.asp;loidresult.asp;fjrestoredcfg.cgi;loidgrestore.asp;errloidgrestore.asp;loidgregsuccess.asp;loidgrestoresuccess.html;CheckModifyInfo.asp;GetConfigStatusInfo.asp;ping.cgi;loid.cgi;ConfigE8cArea.cgi;GetResultStatus.asp;httpsdirect.asp;loidchoosearea.asp;GetRandCount.asp;safelogin.js;diagnose.asp;SetTestState.cgi;ConfigCTArea.cgi;ConfigCTArea_MxU.cgi"
spec.name="SSMP_SPEC_WEB_NO_AUTH_OBJ" spec.type="string" spec.value="InternetGatewayDevice.X_HW_UserInfo;InternetGatewayDevice.X_HW_DEBUG.VSPA.TotalTest.TestState"
spec.name="SSMP_SPEC_WEB_SHOW_UNMD5_PWD" spec.type="uint" spec.value="0"
spec.name="SSMP_SPEC_WEB_PWDENCRYPT" spec.type="uint" spec.value="0"
spec.name="BBSP_SPEC_VLAN_CONFLICT_PROC" spec.type="uint" spec.value="1"
spec.name="SSMP_SPEC_WEB_MAX_USER" spec.type="uint" spec.value="1"
spec.name="AMP_SPEC_NOT_UPLOAD_ME" spec.type="string" spec.value="24,51,52,55,89,91,140,152,163,164,267,276,296,312,334,341,351"
#连接数量规格
spec.name = "BBSP_SPEC_FWD_SESSIONNUM" spec.type="uint" spec.value="8192"

spec.name = "BBSP_SPEC_USR_CFG_ROUTE_MAXNUM" spec.type="uint" spec.value="1500"
#e8c 1~10000 表示实际点灯频率，0表示继承当前的点灯状态，1000000表示灯常亮，2000000表示灯常灭
spec.name = "SPEC_RESETSHORT_LED_FREQUENCE" spec.type="uint" spec.value="40"
spec.name = "SPEC_LOACALRESET_LED_FREQUENCE" spec.type="uint" spec.value="0"
spec.name = "SPEC_REMOTELRESET_LED_FREQUENCE" spec.type="uint" spec.value="0"

