#电信通用的二次定制的Feature.cfg文件
#通用部分SSMP目前完全符合产品的Feature.cfg。请其他领域各自添加自己的二次定制。
feature.name="HW_SSMP_FEATURE_MNGT_GSCT" feature.enable="1"
feature.name="HW_SSMP_FEATURE_RESET_CTCOM" feature.enable="1"
feature.name="HW_SSMP_FEATURE_OUI_STATIC" feature.enable="0"
feature.name="HW_SSMP_FEATURE_CWMP_CTCOM" feature.enable="1"
feature.name="HW_SSMP_FEATURE_CWMP_PWDKEY" feature.enable="1"
feature.name="HW_SSMP_FEATURE_MNGT_CT" feature.enable="1"
feature.name="HW_SSMP_FEATURE_DIGCONFIG" feature.enable="1"
feature.name="HW_SSMP_FEATURE_DLNA" feature.enable="1"
feature.name="HW_SSMP_FEATURE_USBPRINTER" feature.enable="1"
feature.name="HW_SSMP_FEATURE_USBSTORAGE" feature.enable="1"
feature.name="HW_SSMP_FEATURE_CLI_PWD_COMPAT" feature.enable="1"
feature.name="HW_SSMP_FEATURE_UNCHANGEUSER" feature.enable="1"
feature.name="HW_SSMP_FEATURE_UNCHANGEURL" feature.enable="1"
feature.name="HW_SSMP_FEATURE_FTP_PWD_COMPAT" feature.enable="1"
feature.name="HW_SSMP_FEATURE_PASSWDMODE_MD5" feature.enable="1"
feature.name="HW_SSMP_FEATURE_CLI_CHINA_MODE" feature.enable="0"
feature.name="HW_SSMP_FEATURE_SIM_CARD" feature.enable="1"
feature.name = "HW_SSMP_FEATURE_QUICKCFG"  feature.enable="1"
feature.name = "HW_SSMP_FEATURE_WEB_ONLY_PWD" feature.enable="1"
feature.name = "HW_SSMP_FEATURE_WEB_ADMIN_LOG" feature.enable="1"
#控制WEB https证书导入功能，bin4,bin5需要，默认打开，按定制关闭（国内定制(E8C 、联通、移动等)，Bell/tellus，DT，BT等关闭）
feature.name="HW_SSMP_FEATURE_WEBSSLPAGE" feature.enable="0"

#AMP的运营商定制   E8C/CTC版本默认必备HW_AMP_FEATURE_CTC
feature.name="HW_AMP_FEATURE_CTC" feature.enable="1"
#HW_AMP_FEATURE_TXDIS_LOSON  中国区LOS ON定制点灯开关
feature.name = "HW_AMP_FEATURE_TXDIS_LOSON" feature.enable="1"
#HW_AMP_FEATURE_LOID_O5AUTH_SHOW  E8C WEB页面显示o5auth状态
feature.name = "HW_AMP_FEATURE_LOID_O5AUTH_SHOW" feature.enable="1"

#BBSP的运营商定制
feature.name="BBSP_FT_CTC" feature.enable="1"
feature.name="BBSP_FT_INTERNET_WAN_AUTO_BIND" feature.enable="1"
feature.name="BBSP_FT_TR069_WAN_ONLY_READ" feature.enable="1"
feature.name="BBSP_FT_GSCT" feature.enable="1"
feature.name="BBSP_FT_UPLINKQOS" feature.enable="1"
feature.name="BBSP_FT_IGMP_SNOOPINGENABLE_SET" feature.enable="1"
feature.name="BBSP_FT_QOS_SPDLMT" feature.enable="0"
feature.name = "BBSP_FT_WAN_NAT_AUTO_ENABLE" feature.enable="1"

#特性剥离，从运营商中剥离的特性
feature.name="BBSP_FT_MODIFY_DEFAULT_URL" feature.enable="1"
feature.name="BBSP_FT_DHCP_LAN_DEFAULT" feature.enable="0"
feature.name="BBSP_FT_DHCP_SAVE_PING_RESULT" feature.enable="1"
feature.name="BBSP_FT_DHCP_PING_PARA" feature.enable="1"
feature.name="BBSP_FT_WAN_SYN_UPLINK" feature.enable="1"

#ipv6节点按照E8C 4.0的规范进行转换
feature.name="IPV6_NODE_CONV_WITH_E8C_4_0" feature.enable="1"

#PPPOE on demand自动断线强制检测上行流量
feature.name = "BBSP_FT_PPPOE_DETECTUPSTREAM" feature.enable="0"
#internet灯是否存在
feature.name="BBSP_FT_INTERNET_LED_EXIST" feature.enable="1"

#TR098桥模型
feature.name="BBSP_FT_DHCP_CLIENT_OPTION" feature.enable="0" 
feature.name="BBSP_FT_DHCPS_OPTION"       feature.enable="0"

#是否开启E8C4.0 C.2.1.28 Ping功能
feature.name="BBSP_FT_E8C_IPPINGDIAGNOSTICS"       feature.enable="1"
#增强型portmapping(支持多实例portlist)
feature.name="BBSP_FT_PM_PORTLIST" feature.enable="0"

#电信PK，支持电信测试规范标准组播Snooping和Proxy
feature.name="BBSP_FT_E8C_PK_IGMPENABLE" feature.enable="0"

feature.name="BBSP_FT_DHCPS_DEF_OPT125" feature.enable="1"

feature.name="BBSP_FT_UPNP_SNAT_DISABLE" feature.enable="1"

feature.name = "BBSP_FT_IPPROTOCOL_VER" feature.enable="1" 

#控制中国电信LOID/PWD注册，先认证后入库的特性开关
feature.name="HW_AMP_FT_LOID_NOT_SAVE" feature.enable="1"
feature.name = "BBSP_FT_WEB_CFG_RG_EN_VALID" feature.enable="0"
feature.name="BBSP_FT_PARENTAL_CONTROL" feature.enable="1"
feature.name="BBSP_FT_PARENTAL_CTRL_URL_FLT" feature.enable="1"
feature.name="BBSP_FT_PARENTAL_CTRL_URL_MODE" feature.enable="1"

#日志是否区分用户，默认打开，中国区定制全部关闭
feature.name = "HW_SSMP_FEATURE_LOG_VIEW_AUTH" feature.enable="0"
feature.name = "BBSP_FT_OSGI_POP_WINDOWS" feature.enable="1"
feature.name = "BBSP_FT_REDIRECT" feature.enable="0"

# CR20141120021
feature.name="BBSP_FT_WAN_NAT_AUTO_ENABLE" feature.enable="1"
