#通用的二次定制的Feature.cfg文件
#通用部分SSMP目前完全符合产品的Feature.cfg。请其他领域各自添加自己的二次定制。
feature.name="HW_SSMP_FEATURE_RESET_DEF" feature.enable="1"
feature.name="HW_SSMP_FEATURE_OUI_STATIC" feature.enable="1"
feature.name="HW_SSMP_FEATURE_CWMP_DEF" feature.enable="1"
feature.name="HW_SSMP_FEATURE_CWMP_PWDKEY" feature.enable="0"
feature.name="HW_SSMP_FEATURE_DM_LEDSWITCH" feature.enable="1"

#AMP部分
feature.name="HW_AMP_FEATURE_COMMON" feature.enable="1"
feature.name = "HW_AMP_FEATURE_ONLY_SSID1" feature.enable="1"

feature.name="BBSP_FT_PARENTAL_CONTROL" feature.enable="0"
feature.name="BBSP_FT_PARENTAL_CTRL_URL_FLT" feature.enable="1"
#主地址池页面，对于普通用户隐藏Enable DHCP Relay, Enable Option 125
feature.name="FT_NOMAL_HIDE_DHCP_RELAY_125" feature.enable="1"