#通用的二次定制的Feature.cfg文件
#通用部分SSMP目前完全符合产品的Feature.cfg。请其他领域各自添加自己的二次定制。
feature.name="HW_SSMP_FEATURE_RESET_DEF" feature.enable="1"
feature.name="HW_SSMP_FEATURE_OUI_STATIC" feature.enable="1"
feature.name="HW_SSMP_FEATURE_CWMP_DEF" feature.enable="1"
feature.name="HW_SSMP_FEATURE_CWMP_PWDKEY" feature.enable="0"
feature.name="HW_SSMP_FEATURE_DM_LEDSWITCH" feature.enable="1"

#斯里兰卡不允许修改SN 
feature.name = "HW_AMP_FEATURE_FORBID_SN" feature.enable="1" 

#AMP部分
feature.name="HW_AMP_FEATURE_COMMON" feature.enable="1"

# BBSP部分
feature.name="BBSP_FT_FIREWALL_FLOW_LOG" feature.enable="1"
