spec.name="SSMP_SPEC_CLI_USERGRP" spec.type="uint" spec.value="0x00004000"
spec.name="SSMP_SPEC_CLI_REMOTETELNET" spec.type="uint" spec.value="1"
spec.name="SSMP_SPEC_CLI_REDLINEVERSION" spec.type="uint" spec.value="1"
spec.name="SSMP_SPEC_WEB_PWDENCRYPT" spec.type="uint" spec.value="1"
spec.name="SSMP_SPEC_WEB_MENUXML"  spec.type="string" spec.value="MenuSonet.xml"

spec.name="BBSP_SPEC_DNS_DOMAINNAME" spec.type="string" spec.value=""
spec.name="BBSP_SPEC_LAN_DHCPADDMIN" spec.type="string" spec.value=""
spec.name="BBSP_SPEC_LAN_DHCPADDMAX" spec.type="string" spec.value=""
spec.name="SSMP_SPEC_WEB_LANGUAGE_SET" spec.type="string" spec.value="english|japanese"
spec.name="SSMP_SPEC_WEB_LANGUAGE" spec.type="string" spec.value="japanese"

#未知多播限速
spec.name = "BBSP_SPEC_CPUQOS_L2UNMULTI_CAR" spec.type="uint" spec.value="200"