spec.name="SSMP_SPEC_CLI_USERGRP" spec.type="uint" spec.value="0x00004000"
spec.name="SSMP_SPEC_CLI_REMOTETELNET" spec.type="uint" spec.value="1"
spec.name="SSMP_SPEC_CLI_REDLINEVERSION" spec.type="uint" spec.value="1"
spec.name="SSMP_SPEC_WEB_PWDENCRYPT" spec.type="uint" spec.value="2"
spec.name="SSMP_SPEC_WEB_MENUXML" spec.type="string" spec.value="MenuAbroad.xml"

spec.name="BBSP_SPEC_DNS_DOMAINNAME" spec.type="string" spec.value=""
spec.name="BBSP_SPEC_LAN_DHCPADDMIN" spec.type="string" spec.value=""
spec.name="BBSP_SPEC_LAN_DHCPADDMAX" spec.type="string" spec.value=""

#[amp Custom spec]
spec.name="AMP_SPEC_EPON_MODE" spec.type="uint" spec.value="2"
spec.name="AMP_SPEC_UNI_LLID_NUM" spec.type="uint" spec.value="8"
spec.name="AMP_SPEC_MULTI_LLID_NUM" spec.type="uint" spec.value="8"
#[amp Custom spec end]
