spec.name="SSMP_SPEC_CUSTOM_DESCRIPTION" spec.type="string" spec.value="tde"
spec.name="SSMP_SPEC_CLI_USERGRP" spec.type="uint" spec.value="0x00004100"
spec.name="SSMP_SPEC_CLI_REMOTETELNET" spec.type="uint" spec.value="1"
spec.name="SSMP_SPEC_CLI_REDLINEVERSION" spec.type="uint" spec.value="1"
spec.name="SSMP_SPEC_WEB_PWDENCRYPT" spec.type="uint" spec.value="1"
spec.name="SSMP_SPEC_WEB_MM_CFG_XML" spec.type="string" spec.value="hw_tde_mm_cfg.xml"
spec.name="SSMP_SPEC_WEB_MENUXML" spec.type="string" spec.value="MenuAbroad.xml"

#[amp Custom spec]
spec.name="AMP_SPEC_MULTI_SUB_CFG_ATTR_SIX" spec.type="uint" spec.value="0"
#[amp Custom spec end]

#[bbsp Custom spec]

#0 -- 透传并在VLAN内广播;
#1 -- 限速(默认64KB/S)并在VLAN内广播;
#2 -- 丢弃;
#3 -- 指定转发;
#4 -- 管道模式下透传并在VLAN内广播，非管道模式限速(默认64KB/S)并在VLAN内广播;
#5 -- Reserved;
spec.name="BBSP_SPEC_UNKNOW_DS_UC_FWD" spec.type="uint" spec.value="0"
spec.name="BBSP_SPEC_UNKNOW_DS_V4MC_FWD" spec.type="uint" spec.value="0"
spec.name="BBSP_SPEC_UNKNOW_DS_V6MC_FWD" spec.type="uint" spec.value="0"
spec.name="BBSP_SPEC_UNKNOW_DS_BC_FWD" spec.type="uint" spec.value="0"
spec.name="BBSP_SPEC_DS_PROTO_PKT_FWD" spec.type="uint" spec.value="0"
spec.name="BBSP_SPEC_UNKNOW_US_BC_FWD" spec.type="uint" spec.value="0"
#[bbsp Custom spec end]
 