#通用的二次定制的Feature.cfg文件
#通用部分SSMP目前完全符合产品的Feature.cfg。请其他领域各自添加自己的二次定制。
feature.name="HW_SSMP_FEATURE_RESET_DEF" feature.enable="1"
feature.name="HW_SSMP_FEATURE_OUI_STATIC" feature.enable="1"
feature.name="HW_SSMP_FEATURE_CWMP_DEF" feature.enable="1"
feature.name="HW_SSMP_FEATURE_CWMP_PWDKEY" feature.enable="0"
feature.name="HW_SSMP_FEATURE_DM_LEDSWITCH" feature.enable="1"
feature.name="HW_SSMP_FEATURE_SHOWTR069INFO" feature.enable="1"
feature.name="HW_SSMP_FEATURE_CPE_KEEPALIVE" feature.enable="1"
feature.name="HW_SSMP_FEATURE_GET_FROM_DB" feature.enable="1"
feature.name="HW_SSMP_WEB_MODIFY_AMDIN_PWD" feature.enable="1"

#AMP部分
feature.name="HW_AMP_FEATURE_COMMON" feature.enable="1"

#BBSP定制部分
feature.name="BBSP_FT_TRIPLET" feature.enable="1"

#访问Internet WEB失败重定向 3bb特性
feature.name="BBSP_FT_REDIRECT_DEF_PPP_WAN" feature.enable="1"
#display wan layer all可以显示pppoe wan用户名密码
feature.name="BBSP_FT_CMD_SHOW_PPPOE_WAN" feature.enable="1"
#display dhcpsrv info可以显示主从地址池和userdev信息
feature.name="BBSP_FT_DISPLAY_DHCP_SVR_INFO" feature.enable="1"
#wan侧dns报文是否丢弃
#iptables -A INPUT_SERVICE -p tcp --destination-port 53 -i wan+ -j DROP ...
feature.name="BBSP_FT_DROP_NNI_DNS" feature.enable="1"
feature.name="BBSP_FT_TR098_OBJECT_NOEFFECT" feature.enable="1"

feature.name="BBSP_FT_PARENTAL_CONTROL" feature.enable="0" 
feature.name = "BBSP_FT_PARENTAL_CTRL_URL_FLT" feature.enable="1" 
feature.name="WAN_WHITELIST_HTTP_PROTOCOL" feature.enable="1" 

#internet灯三态控制特性
feature.name="BBSP_FT_INTERNET_LED_TRI_STATE" feature.enable="1"
#internet灯是否存在
feature.name="BBSP_FT_INTERNET_LED_EXIST" feature.enable="1"

