#中国移动的二次定制的Feature.cfg文件，基本上同集团电信的一致
#通用部分SSMP目前完全符合产品的Feature.cfg。请其他领域各自添加自己的二次定制。
feature.name="HW_SSMP_FEATURE_RESET_CTCOM" feature.enable="1"
feature.name="HW_SSMP_FEATURE_OUI_STATIC" feature.enable="0"
feature.name="HW_SSMP_FEATURE_CWMP_CTCOM" feature.enable="1"
feature.name="HW_SSMP_FEATURE_CWMP_PWDKEY" feature.enable="1"
feature.name="HW_SSMP_FEATURE_MNGT_CT" feature.enable="1"
feature.name="HW_SSMP_FEATURE_CLI_PWD_COMPAT" feature.enable="1"
feature.name="HW_SSMP_FEATURE_FTP_PWD_COMPAT" feature.enable="1"
feature.name="HW_SSMP_FEATURE_PASSWDMODE_MD5" feature.enable="1"
feature.name="HW_SSMP_FEATURE_CLI_CHINA_MODE" feature.enable="0"
feature.name = "HW_SSMP_FEATURE_QUICKCFG"  feature.enable="1"
#控制WEB https证书导入功能，bin4,bin5需要，默认打开，按定制关闭（国内定制(E8C 、联通、移动等)，Bell/tellus，DT，BT等关闭）
feature.name="HW_SSMP_FEATURE_WEBSSLPAGE" feature.enable="0"

feature.name="HW_SSMP_FEATURE_DLNA" feature.enable="1"
feature.name="HW_SSMP_FEATURE_USBPRINTER" feature.enable="1"
feature.name="HW_SSMP_FEATURE_USBSTORAGE" feature.enable="1"
feature.name="HW_SSMP_FEATURE_DM_LEDSWITCH" feature.enable="1"

#日志是否区分用户，默认打开，中国区定制全部关闭
feature.name = "HW_SSMP_FEATURE_LOG_VIEW_AUTH" feature.enable="0"

#AMP的运营商定制   E8C/CTC版本默认必备HW_AMP_FEATURE_CTC
feature.name="HW_AMP_FEATURE_CTC" feature.enable="1"
#HW_AMP_FEATURE_TXDIS_LOSON  中国区LOS ON定制点灯开关
feature.name = "HW_AMP_FEATURE_TXDIS_LOSON" feature.enable="1"

#BBSP的运营商定制
feature.name="BBSP_FT_CTC" feature.enable="1"
feature.name="BBSP_FT_INTERNET_WAN_AUTO_BIND" feature.enable="1"
feature.name="BBSP_FT_UPLINKQOS" feature.enable="1"
feature.name="BBSP_FT_IGMP_SNOOPINGENABLE_SET" feature.enable="1"
feature.name="BBSP_FT_WAN_SYN_UPLINK" feature.enable="1"

#TR098桥模型
feature.name="BBSP_FT_DHCP_CLIENT_OPTION" feature.enable="1" 
feature.name="BBSP_FT_DHCPS_OPTION"       feature.enable="1" 

#是否开启CMCC TLS
feature.name="BBSP_FT_CMCC_TLS" feature.enable="0"

feature.name="BBSP_FT_UPNP_SNAT_DISABLE" feature.enable="1"

#CR20140306025 修改：联通、移动、国内China都放开
feature.name = "BBSP_FT_WAN_NAT_AUTO_ENABLE" feature.enable="1"
#如果该特性开关打开，表示可以进行防火墙功能设置，而且可以生效
feature.name = "HW_BBSP_FT_SEC_FIREWALL_SUPPORT" feature.enable="1"
feature.name = "BBSP_FT_WEB_CFG_RG_EN_VALID" feature.enable="1"
feature.name="BBSP_FT_PARENTAL_CONTROL" feature.enable="1"
feature.name="BBSP_FT_PARENTAL_CTRL_URL_FLT" feature.enable="0"
feature.name="BBSP_FT_DHCP_LAN_DEFAULT" feature.enable="0"

